@media only screen and (max-width: 700px) {
    /* General Style */
        .header { left:10%; font-size: 25px; width: 80%; }
        .icon { font-size: 19px; }
        .font-style { font-size: 15px; }
        .padding { padding: 20px 30px; }

    /* Container Style */
        .container { width:100%; }

    /* Start Left Section */
        #left-section, #right-section { width: 100%; }
        /* Start Main Information */
            #left-section .main-info img { width: 60%; }
            #left-section .main-info .name { font-size: 22px; }
            #left-section .main-info .job { font-size: 18px; }
        /* End Main Information */

        /* Start Skills */
            #left-section .skills .skills-body { font-size: 15px; }
        /* End Skills */

        /* Start Hobbies */
            #left-section .hobbies .hobby-list>li{float: left;width: 50%;margin-bottom: 20px;}
        /* End Hobbies */
    /* End Left Section */

    /* Start Right Section */
        #right-section { box-shadow: none; }
    /* End Right Section */
}

